*.md
*.log

.env
.env.backup
.env.production
.env.local

.git/
.github/
.gitignore
.gitattributes

.editorconfig
.npmrc

node_modules/
vendor/
storage/

Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore

phpunit.xml
tests/

# IDE / OS
.idea/
.vscode/
.cursor/
.codex/
.DS_Store
Thumbs.db
Desktop.ini
