*.log
.DS_Store
Thumbs.db
Desktop.ini

.env
.env.backup
.env.production
.env.staging
.env.local
.env.*.local

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/node_modules
/public/build
/public/hot
/public/storage
/vendor

/storage/*.key
/storage/pail

/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed

/auth.json
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml

composer.phar
composer-setup.php
*.sqlite
*.sqlite3
