# OS
.DS_Store
Thumbs.db
Desktop.ini

# Environment
.env
.env.backup
.env.production
.env.staging
.env.local
.env.*.local

# Dependencies
/node_modules
/vendor

# Build
/public/build
/public/hot
/public/storage

# Database
*.sqlite
*.sqlite3
/database/database.sqlite

# Storage
/storage/*.key
/storage/pail

# IDE
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed

# Tooling
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
auth.json
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
composer.phar
composer-setup.php

# Logs
*.log

# Docker (override lokal)
docker-compose.override.yml
